<h1> All Items: </h1>
<ul><% @items.each do |item|%>
    <img src=<%=item.img_url%> 
        class="w3-round"
        alt="This is a basic table."
         width="150"
        height="191">
    <br><li><%= link_to item.name, item_path(item) %></li><br>
    <%end%>
</ul>