<h1> This is the page for <%=@item.name%>. </h1>
<ul>The Price is: $<%= @item.price %></ul>
<ul>The Description is: <%= @item.description %></ul>
<img src=<%=@item.img_url%> 
    class="w3-round"
    alt="This is a basic table."
    width="300"
    height="341">