/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

<style>
.d1{background:LightSkyBlue;}
.d2{background:LightSalmon;}
.d3{background:PaleTurquoise;}
.d4{background:LightPink;}
.d5{background:PaleGreen;}

.container {
  font-size: 40px;
  width: 100%;
  background: LightGray;
  display: grid;
  grid-template-columns: 200px 200px 200px;
  /* add your code below this line */
  
  
  /* add your code above this line */
}
</style>





    <div class="container">
  <div class="d2">1</div>
  <div class="grid-item">2</div>
  <div class="grid-item">3</div>
  <div class="d3">4</div>
  <div class="grid-item">5</div>
  <div class="grid-item">6</div>
  <div class="grid-item">7</div>
  <div class="grid-item">8</div>
  <div class="grid-item">9</div>
</div>

<div class="container">
<ol><% @carts.each do |p| %>
    <li><img src=  <%=p.item.img_url%> width="50" height="91"></li>
         <%= p.item.name %>
         <br><%= p.item.price %><br>
         <%= link_to "Write a Review",  new_review_path(@review)%>
 </ol>
     <br><% end %><br></div>

     <div class="container">
<div class="d2">1</div>
<div class="d2">2</div>
<div class="d3">3</div>
<div class="d4">4</div>
<div class="d5">5</div>
</div>