<h1>Hi <%= @user.username%>, here are all of the reviews: </h1>

<%  @reviews.each do |review| %>
    <%= review.title %>
    <%= review.rating %>
    <img src = <%=review.item.img_url%> width="50" height="91"></li>
    <% end %>